{{#g-map lat=latitude lng=longitude zoom=myZoom as |context|}}
  {{#each destinations as |dest|}}
    {{#each departs as |depart|}}
  {{g-map-address-route context
                        travelMode='driving' strokeColor=colors
                        originAddress=depart
                        destinationAddress=dest}}
  {{/each}}
  {{/each}}

{{/g-map}}
Veuillez selectionner votre trajet :
<select onchange={{action "select" value="target.value"}}>
  {{#each trajet as |traj|}}
    <option value="{{traj}}">{{traj}} </option>
  {{/each}}
</select>
{{yield}}
